<!DOCTYPE html>
<html>
  <head>
    <title>esta index será Tela - Seleção de Pedido </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>esta index será Tela - Seleção de Pedido </h1>
    <a class="nav-linck px-3" href="/admin/logout">Logout</a>
  </body>
</html>
