<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastro no Cardápio</title>
</head>

<body>
    <div class="nav">
        <div class="pageSelection">
            <a href="#">
                <i class="fas fa-bacon"></i>
                <span>Estoque</span>
            </a>
        </div>

        <div class="pageSelection">
            <a href="#">
                <i class="fas fa-hamburger"></i>
                <span>Lanches</span>
            </a>
        </div>
    </div>

    <h1 class="titleRegister">Cadastro no Cardápio</h1>

    <form action="/admin/lanche/cadastrar" method="POST" class="formContent">

        
        <label for="lanche" class="standartLabel">Nome do Lanche</label>
        <input value="" type="text" name="lanche" placeholder="Lanche" class="standartInput">

        <label for="Caregoria" class="standartLabel">Categoria</label>
        <select name="Categoria" id="Categoria" class="standartSelect">
            <option value="" selected disabled hidden style="color: #c4c4c4;">Categoria</option>
            <option value="alimento">Alimento</option>
            <option value="bebida">Bebida</option>
        </select>

        <label for="Tipo" class="standartLabel">Tipo</label>
        <select name="Tipo" id="Tipo" class="standartSelect">
            <option value="" selected disabled hidden style="color: #c4c4c4;">Tipo</option>
            <option value="garrafa">Garrafa</option>
            <option value="lata">Lata</option>
        </select>

        <label for="description" class="standartLabel">Descrição</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <input href="" type="submit" value="Cadastrar" class="submitBtn">
    </form>
</body>
</html>