<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
</head>
<body>
    <div class="bodyLogin"></div>
    <div class="lensLogin"></div>

    <div class="boxLogin">
        <h1 class="titleLogin"> Login </h1>
        <div>
            <form action="/login" method="POST" class="formLogin">

                <label class="form-label"  for="floatingImput"></label>
                <input type="email" class="inputLogin" placeholder="E-mail" value="" name="email" id="floatingImput">

                <label class="form-label"  for="floatingImput"></label>
                <input type="password" class="inputLogin" placeholder="Senha" style="margin-bottom: 0px;" value="" name="senha" id="floatingImput">

                <input type="submit" value="LOGIN" class="inputBtn">
            </form>

            <form action="/users/cadastro" method="GET" class="formLogin">
                <span class="regLabel">Ainda não é cadastrado? Tá esperando o que?<br>Cadastre-se!</span>
                <input action="/users/cadastro" method="GET"
                type="submit" value="CADASTRAR" class="inputBtnAlt">
            </form>
        </div>
    </div>
</body>
</html>