<div class="nav">
    <div class="pageSelection">
        <a href="/admin/estoque">
            <i class="fas fa-bacon"></i>
            <span>Estoque</span>
        </a>
    </div>

    <div class="pageSelection">
        <a href="/admin/cardapio">
            <i class="fas fa-hamburger"></i>
            <span>Lanches</span>
        </a>
    </div>

    <div class="pageSelection">
        <a href="/admin/caixa">
            <i class="fas fa-cash-register"></i>
            <span>Caixa</span>
        </a>
    </div>
</div>
