<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Login</title>
</head>
<body>
        <input type="text" class="searchBox" placeholder="Pesquisar">
    
        <div class="nav">
            <a href="/admin/estoque"></a>
            <div class="pageSelection">
                <a href="#">
                    <i class="fas fa-bacon"></i>
                    <span>Estoque</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="#">
                    <i class="fas fa-hamburger"></i>
                    <span>Lanches</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="#">
                    <i class="fas fa-user"></i>
                    <span>Usuários</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="#">
                    <i class="fa fa-screwdriver"></i>
                    <span>Configuração</span>
                </a>
            </div>
    
        </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
    <h1 class="subtitle">Usuários</h1>
      </div>


<table class="contentTable">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
      
      
            <% for(let i = 0; i < usuarios.length; i++){ %>
            <tr>
                <td><%= usuarios[i].nome %></td>
                <td><%= usuarios[i].email %></td>
                <td>
                    <a class="editIcon" href="/admin/usuarios/editar/<%= usuarios[i].id %>">
                        <i class="far fa-edit"></i></a>
                    <a class="editIcon" href="/admin/usuarios/excluir/<%= usuarios[i].id %>">
                        <i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <% } %>
    <a class="addSupplies" href="/users/cadastro">+</a>
    <a class="editIcon" href="/logout" >Logout</a>
    </tbody>
</table>
</div>
</body>
</html>