<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
    <h1 class="h2">Usuários</h1>
</div>

<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adm Adm Adm</td>
            <td>Adm@adm.com</td>

        </tr>
      
            <% for(let i = 0; i < usuarios.length; i++){ %>
            <tr>
                <td><%= usuarios[i].nome %></td>
                <td><%= usuarios[i].email %></td>
                <td>
                    <a class="btn btn-outline" href="/admin/usuarios/alterar/<%= usuarios[i].id %>">Editar</a>
                    <a class="btn btn-outline" href="/admin/usuarios/excluir/<%= usuarios[i].id %>">Excluir</a>
                </td>
            </tr>
        <% } %>
    <a class="btn btn-primary" href="/admin/usuarios/cadastrar">Cadastrar</a>
    </tbody>
</table>
</div>