<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Cadastro Hamburgueria</title>
</head>
<body>
    <h1 class="titleRegister">Cadastro de Hamburgueria</h1>

    <div class="">

        <form action="/users/cadastro" method="POST">
            <div class="subsubtitle">
                <h2>Dados do Estabelecimento</h2>
                    
                <label for="nome">Nome do Negócio</label>
            
                <div>
                <input type="text" placeholder="Estabelecimento" name="nomeEstabelecimento">
                </div>

                <label for="cnpj">CNPJ</label>

                <div >
                <input type="text" placeholder="CNPJ" name="cnpj">        
                </div>

                <h2>Dados do Administrador</h2>
                <label for="nomeAdm">Nome do Administrador</label>

                <div>
                <input type="text" placeholder="Nome" name="nomeAdm">
                </div>
                    
                <label for="email">E-mail</label>

                <div>
                <input type="email" placeholder="E-mail" name="email">
                </div>

                <label for="senha">Senha</label>

                <div>
                <input type="password" placeholder="Senha" name="senha">
                </div>
                
            
       
                
               <input action="/login" method="GET"
               type="submit" value="Cadastrar" class="inputBtn">

            </div>
        </form>
            
    </div>
</body>
</html>


