<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Caixa - Pedido</title>
</head>
<body>
    <h1 class="titleCashier">Caixa - Pedidos</h1>
    
    <section class="contentFilter">
         <div>
            <button class="filterBtn">Lanches</button>
            <button class="filterBtn">Acompanhamentos</button>
            <button class="filterBtn">Bebidas</button>
            <button class="filterBtn">Combos</button>
            <button class="filterBtn">Sobremesas</button>
            <button class="filterBtn">Snacks</button>
         </div>

         <input type="text" class="filterByText" placeholder="Pesquisar">
    </section>

    <section class="contentMenu">
        <div class="menuItem">
            <div class="contentImgLanch">
                <img src="/public/images/BBB.png" alt="Lanche BBB" class="imgLanch">
            </div>
            <div class="nameAndDescription">
                <div>BBB (Bacon and Barbecue, Bitch!)</div>
                <div>R$35,00</div>
                <div style="font-size: 14px; font-weight: 400;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div>
                <div class="addLanch"><span>+</span></div>
                <div class="removeLanch">-</div>
            </div>
        </div>
    </section>

   <!--<div class="feedBackOrder">

    </div>--> 

    <button class="addSupplies"><i class="fas fa-thumbs-up"></i></button>
</body>
</html>