<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Lanches</title>
</head>
<body>

    <%- include("../../partials/sidebar") %>

    <form action="/admin/estoque" method="GET">
        <input type="text" class="searchBox" name="search" placeholder="Pesquisar">
        <button type="submit" class="searchBtn"><i class="fa fa-search"></i></i></button>
    </form>

    <h2 class="subtitle">Todos os Lanches</h2>
    <p class="subsubtitle">6 itens</p>

    <div class="foodContent">
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
        <div class="snackCard">
            <img src="/images/BBB.png" alt="Lanche BBB" class="coverCard">
            <h3 class="snackTitle">BBB (Bacon and Barcue - Bitch!)</h3>
        </div>
    </div>

    <a href="/admin/cardapio/cadastrar" class="addSupplies" >+</a>
</body>
</html>