<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastro de Estoque</title>
</head>
<body>    
    <div class="nav">
        <div class="pageSelection">
            <a href="/admin/estoque">
                <i class="fas fa-bacon"></i>
                <span>Estoque</span>
            </a>
        </div>

        <div class="pageSelection">
            <a href="#">
                <i class="fas fa-hamburger"></i>
                <span>Lanches</span>
            </a>
        </div>
    </div>

    <h1 class="titleRegister">Cadastro de Item</h1>

    <form action="/admin/estoque/form/cadastrar" method="POST" class="formContent">
        <label for="item" class="standartLabel">Nome do Item</label>
        <input type="text" name="item" placeholder="item" class="standartInput"value="<%= estoque.item %>">


        <label for="caregoria" class="standartLabel">Categoria</label>
        <select name="categoria" id="Categoria" class="standartSelect">
            <option value="" selected disabled hidden style="color: #c4c4c4;">Categoria</option>
            <option value="">Alimento</option>
            <option value="">Bebida</option>
        </select>

        <label for="tipo" class="standartLabel">Tipo</label>
        <select name="tipo" id="tipo" class="standartSelect">
            <option value="" selected disabled hidden style="color: #c4c4c4;">Tipo</option>
            <option value="">Garrafa</option>
            <option value="">Lata</option>
        </select>
        <div class="tinyInputsContent">
        
            <div>
                <label for="quantidade" class="standartLabel">Qtd.</label>
                <input type="number" name="quantidade" placeholder="quantidade" class="tinyInput" value="<%= estoque.quantidade %>" >
            </div>

            <div>
                <label for="quantidade_minima" class="standartLabel">quantidade_minima</label>
                <input type="number" name="quantidade_minima" placeholder="quantidade_minima" class="tinyInput" value="<%= estoque.quantidade_minima %>" >
            </div>
        </div>

        <label for="ultima_compra" class="standartLabel">Última Compra</label>
        <input type="date" name="ultima_compra" placeholder="Data da Última Compra" class="standartInput" value="<%= estoque.ultima_compra %>" >


        <input type="submit" value="Cadastrar" name="">


        <a type="submit" value="Cadastrar"class="btn btn-outline" href="/admin/estoque">cadastrar</a>

    </form>
</body>
</html>