<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Estoque</title>
</head>

<body>
    <input type="text" class="searchBox" placeholder="Pesquisar">

    <div class="nav">
        <div class="pageSelection">
            <a href="#">
                <i class="fas fa-bacon"></i>
                <span>Estoque</span>
            </a>
        </div>

        <div class="pageSelection">
            <a href="#">
                <i class="fas fa-hamburger"></i>
                <span>Lanches</span>
            </a>
        </div>
    </div>

    <h2 class="subtitle">Todo o Estoque</h2>
    <p class="subsubtitle">3 itens</p>

    <table class="contentTable">
        <thead>
            <tr>
                <th>Item</th>
                <th>Qtd.</th>
                <th>Qtd. Min.</th>
                <th>Última Compra</th>
                <th>Categoria</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Queijo Mussarela</td>
                <td>100</td>
                <td>20</td>
                <td>10/01/2022</td>
                <td>Comida</td>
                <td>Latícinio</td>
            </tr>
            <tr>
                <td>Queijo Mussarela</td>
                <td>100</td>
                <td>20</td>
                <td>10/01/2022</td>
                <td>Comida</td>
                <td>Latícinio</td>
            </tr>
            <tr>
                <td>Queijo Mussarela</td>
                <td>100</td>
                <td>20</td>
                <td>10/01/2022</td>
                <td>Comida</td>
                <td>Latícinio</td>
            </tr>
        </tbody>
    </table>

    <a href="/admin/estoque/Cadastrar" class="addSupplies" > + </a>
</body>
</html>