<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Usuario</title>
</head>
<body class="bodyLogin">
    <div class="lensLogin"></div>

    <div class="boxLogin">
        <h1 class="titleLogin">Cadastro de Usuarios</h1>
        <div>
            <form action="acaoCadastro" method="POST" class="formLogin">

                <input 
                 type="nome" 
                 nome= "nome" 
                 id= " " 
                 class="inputLogin" 
                 placeholder="Nome" 
                >
                <label for="floatingimput"> </label>

                <input 
                 type="email" 
                 nome= "email" 
                 id= " " 
                 class="inputLogin" 
                 placeholder="E-mail" 
                >
                <label for="floatingimput"> </label>

                <input 
                 type="password"
                 nome= "senha"
                 id= " " 
                 class="inputLogin" 
                 placeholder="Senha" 
                 style="margin-bottom: 0px;"
                >
                <label for="floatingPassword"> </label> 

                <a href="/" class="forgotPassword" >Fazer login</a>

                <button class="inputBtn"   type="submit" href="/">CADASTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>

