<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
</head>
<body class="">
            <form action="" class="formLogin">
               <thead>
                   <tr>
                       <th scope="col">Nome</th>
                       <br>
                       <th scope="col">E-mail</th>
                   </tr>
               </thead>
                
                
                <label for="floatingimput"> </label> 

                <a href="/usuarios" class="forgotPassword" >Cadastre-se</a>

                <button class="inputBtn" type="submit" >ENTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>